*{
    font-family: Arial, Helvetica, sans-serif;
  }

  .slider {
    grid-area: Slider;
    width: 55vw;
    max-height: 65vh;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 1em;
    border: 0.1em solid gray;
    box-sizing: border-box;
    align-items: center;
  }

  .caption {
    grid-area: Label;
    padding-left: 2vw;
    width: 25vw;
    height: 3em;
    color: aliceblue;
    font-size: 1em;
    overflow: hidden;
  }

  .control {
    padding-top: 1em;
    grid-area: Control;
    display: flex;
    height: 5vh;
    width:20vw;
    justify-content: flex-end;
    align-items: center;
  }
  
  .slider__radio-main{
      display: none;
  }

  @media screen and (min-width:769px){
    .wrapper {
    margin: 3vh auto;
    padding-top: 2vh;
    max-width: 65vw;
    max-height: 80vh;
    border: 0.2vw solid rgb(20, 34, 43);
    background-color: rgb(37, 40, 42);
    border-radius: 0.5em;
    display: grid;
    grid-template-areas:
      "Slider Slider"
      "Label Control";
    row-gap: 1em;
  }
  }

  @media screen and (max-width:768px){
    .wrapper {
    margin: 1vh auto;
    padding-top: 1vh;
    max-width: 60vw;
    max-height: 65vh;
    border: 0.2vw solid rgb(20, 34, 43);
    background-color: rgb(37, 40, 42);
    border-radius: 0.5em;
    display: grid;
    grid-template-areas:
      "Slider"
      "Control"
      "Label ";
  } 

  .control{
    margin:0 auto;
    justify-content: center;
    padding-top: .2em;
  }

  .caption {
    grid-area: Label;
    padding-left: 2vw;
    width: 50vw;
    font-size: small;
  }

  
  }
